TingMusic/Web References/TingMusicWS/TingMusicAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBillList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBillListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBillListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSongLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="songId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSongLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSongLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="songId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPlayLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getBillListSoapIn">
    <wsdl:part name="parameters" element="tns:getBillList" />
  </wsdl:message>
  <wsdl:message name="getBillListSoapOut">
    <wsdl:part name="parameters" element="tns:getBillListResponse" />
  </wsdl:message>
  <wsdl:message name="getSongLinkSoapIn">
    <wsdl:part name="parameters" element="tns:getSongLink" />
  </wsdl:message>
  <wsdl:message name="getSongLinkSoapOut">
    <wsdl:part name="parameters" element="tns:getSongLinkResponse" />
  </wsdl:message>
  <wsdl:message name="getPlayLinkSoapIn">
    <wsdl:part name="parameters" element="tns:getPlayLink" />
  </wsdl:message>
  <wsdl:message name="getPlayLinkSoapOut">
    <wsdl:part name="parameters" element="tns:getPlayLinkResponse" />
  </wsdl:message>
  <wsdl:portType name="TingMusicAPISoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBillList">
      <wsdl:input message="tns:getBillListSoapIn" />
      <wsdl:output message="tns:getBillListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSongLink">
      <wsdl:input message="tns:getSongLinkSoapIn" />
      <wsdl:output message="tns:getSongLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPlayLink">
      <wsdl:input message="tns:getPlayLinkSoapIn" />
      <wsdl:output message="tns:getPlayLinkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TingMusicAPISoap" type="tns:TingMusicAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillList">
      <soap:operation soapAction="http://tempuri.org/getBillList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSongLink">
      <soap:operation soapAction="http://tempuri.org/getSongLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayLink">
      <soap:operation soapAction="http://tempuri.org/getPlayLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TingMusicAPISoap12" type="tns:TingMusicAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillList">
      <soap12:operation soapAction="http://tempuri.org/getBillList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSongLink">
      <soap12:operation soapAction="http://tempuri.org/getSongLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayLink">
      <soap12:operation soapAction="http://tempuri.org/getPlayLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TingMusicAPI">
    <wsdl:port name="TingMusicAPISoap" binding="tns:TingMusicAPISoap">
      <soap:address location="http://localhost/TingMusic/TingMusicAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="TingMusicAPISoap12" binding="tns:TingMusicAPISoap12">
      <soap12:address location="http://localhost/TingMusic/TingMusicAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>